<% include header %>

  <div class="basic">
		<form action="dest.html">
			Select city
			<select name="cities">
				<option value="Seul">Seul</option>
				<option value="Belfast">Belfast</option>
				<option value="Rio">Rio</option>
				<option value="Vladik">Vladik</option>
			</select>
			Select date
			<input type="date" name="travel_date">
			<input type="submit" value="SEARCH!">
		</form>
		<br>
		<button type="button" onclick="alert('Hello World!')">I feel lucky!</button>
	</div>
<% include footer %>